rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users collection: users can read/write only their own document
    match /users/{userId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
